@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;600&display=swap');

body {
    font-family: 'Quicksand', sans-serif;
    color: grey;
}

.container-grid {
    width: 80%;
    margin: 0 auto;
}

/* Cabeçalho */
header {
    background-color: grey;
}

header .header-flex {
    display: flex;
    justify-content: space-between;

}

header h1 {
    color: white;
    font-weight: 300;
}

header h1 #logoux{
    font-weight: 600;
    font-style: italic;
}

section h2 {
    
}

header nav {
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    color: white;
    text-decoration: none;
}

.column-flex  {
    display: flex;
    justify-content: space-between;
}

main .first-column {
    width: 75%;
}

main .first-column #banner-image {
    width: 100% ;
}

main .first-column p {
    margin-top: 15px;
}
main .second-column {
    width: 20%;
}